parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  paths:
    - src
    - wp-content-bridge.php
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - stubs/yoast.stub.php
  bootstrapFiles:
    - vendor/szepeviktor/phpstan-wordpress/bootstrap.php
  ignoreErrors:
    -
      message: '#^Path in require_once\(\) "/wp-admin/includes/upgrade\.php" is not a file or it does not exist\.$#'
      path: src/Infrastructure/WordPress/Installer.php
      count: 1
